<section class="hero is-fullheight has-text-centered has-background-gray-ter" id="docs">
    <div class="hero-body">
        <div class="container">
            <h1 class="is-size-1 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                Resume
            </h1>
            <object data="{{ site.url }}{{ site.baseurl }}/assets/resume.pdf" width="1000" height="1000"
                type="application/pdf">
            </object>
        </div>
    </div>
    </div>
</section>